<div class="container">

<h2 class='suggestion-title'>If you have free time today, why not ...</h2>
<ul class='task-list-ul'>
  <li class='task-list-li' id='item'>Learn Ember</li>       
</ul>
</div>
