<nav class='navbar'>
<ul class='nav-navbar'>
  <li class='nav-navbar-li'>{{#link-to 'tasks'}}Home{{/link-to}}</li>
  <li class='nav-navbar-li'>{{#link-to 'tasks.add'}}Add task{{/link-to}}</li>
  <li class='nav-navbar-li'>{{#link-to 'tasks.suggestion'}}<i class='fa fa-lightbulb-o' id='bulb'/>{{/link-to}}</li>
</ul>
</nav>
{{outlet}}